<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
  </config>
  <packageSources>
        <clear />

        <!-- a local directory to allow testing nupkg files without pushing to a remote feed -->
        <add key="local" value="c:\nuget" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Project.Reunion.nuget.internal" value="https://pkgs.dev.azure.com/microsoft/ProjectReunion/_packaging/Project.Reunion.nuget.internal/nuget/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="Project.Reunion.nuget.internal">
            <package pattern="Microsoft.WindowsAppSDK.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="System.*" />
            <package pattern="Microsoft.*" />
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>