name: PR Unit Tests

on:
  pull_request:
    branches: [ "main", "dev/**" ]
  push:
    branches: [ "main", "dev/**" ]

jobs:
  unit-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            dotnet-arch: 'x64'
            dotnet-configuration: 'Release'
    name: Unit Tests - win-${{ matrix.dotnet-arch }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      checks: write
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    
    - name: Install NBGV tool
      run: dotnet tool install --tool-path . nbgv
    
    - name: Set Version
      run: ./nbgv cloud -c
    
    - name: Update Package Manifest Version
      run: |
        $manifestPath = "${{ github.workspace }}\AIDevGallery\Package.appxmanifest"
        [xml]$manifest = get-content $manifestPath
        $manifest.Package.Identity.Version = '${{ env.GitBuildVersionSimple }}.0'
        $manifest.Save($manifestPath)
    
    - name: Set LAF build props
      shell: pwsh
      run: |
        if (-not [string]::IsNullOrWhiteSpace("${{ secrets.LAF_TOKEN }}")) {
          echo "LAF_TOKEN=${{ secrets.LAF_TOKEN }}" >> $env:GITHUB_ENV
        }
        if (-not [string]::IsNullOrWhiteSpace("${{ secrets.LAF_PUBLISHER_ID }}")) {
          echo "LAF_PUBLISHER_ID=${{ secrets.LAF_PUBLISHER_ID }}" >> $env:GITHUB_ENV
        }
    
    - name: Restore dependencies
      run: dotnet restore AIDevGallery.sln -r win-${{ matrix.dotnet-arch }} /p:Configuration=${{ matrix.dotnet-configuration }} /p:Platform=${{ matrix.dotnet-arch }} /p:PublishReadyToRun=true
    
    - name: Build
      run: |
        dotnet build AIDevGallery.Utils --no-restore /p:Configuration=${{ matrix.dotnet-configuration }} /p:LafToken="${{ env.LAF_TOKEN }}" /p:LafPublisherId="${{ env.LAF_PUBLISHER_ID }}"
        dotnet build AIDevGallery --no-restore -r win-${{ matrix.dotnet-arch }} -f net9.0-windows10.0.26100.0 /p:Configuration=${{ matrix.dotnet-configuration }} /p:Platform=${{ matrix.dotnet-arch }} /p:LafToken="${{ env.LAF_TOKEN }}" /p:LafPublisherId="${{ env.LAF_PUBLISHER_ID }}"
    
    - name: Setup Dev Tools
      uses: ilammy/msvc-dev-cmd@v1
    
    - name: Build Test Project
      run: dotnet build AIDevGallery.Tests\AIDevGallery.Tests.csproj -r win-${{ matrix.dotnet-arch }} -f net9.0-windows10.0.26100.0 /p:Configuration=${{ matrix.dotnet-configuration }} /p:Platform=${{ matrix.dotnet-arch }}
    
    - name: Run Unit Tests (Exclude Performance and UI Tests)
      run: |
        vstest.console.exe .\AIDevGallery.Tests\bin\${{ matrix.dotnet-arch }}\${{ matrix.dotnet-configuration }}\net9.0-windows10.0.26100.0\win-${{ matrix.dotnet-arch }}\AIDevGallery.Tests.dll `
          /TestCaseFilter:"TestCategory!=Performance&TestCategory!=UITest" `
          /TestAdapterPath:"$HOME\.nuget\mstest.testadapter\3.9.2\buildTransitive\net9.0" `
          /logger:"trx;LogFileName=${{ github.workspace }}\TestResults\UnitTestResults.trx"
      continue-on-error: false
    
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: unit-test-results-${{ matrix.dotnet-arch }}
        path: TestResults/*.trx
    
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Unit Test Results (${{ matrix.dotnet-arch }})
        path: TestResults/*.trx
        reporter: dotnet-trx
        fail-on-error: true
